<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <div class="row mb-3">
                <h1>User Info</h1>
                <p>Usuario autenticado</p>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="row">
                        <h5>ID</h5>
                    </div>
                    <div class="row">
                        <h5>Name</h5>
                    </div>
                    <div class="row">
                        <h5>Email</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h5 class="font-monospace"> {{ getUsuario.id }} </h5>
                    </div>
                    <div class="row">
                        <h5 class="font-monospace"> {{ getUsuario.name }} </h5>
                    </div>
                    <div class="row">
                        <h5 class="font-monospace"> {{ getUsuario.email }} </h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" (click)="logout()">
                            Log out
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
